header.header .top_bar .top_bar_inner .logo {
    background-image: url("../images/logo-mp-3.svg");
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    height: 32px;
    background-size: cover;
    margin-right: 18px;
}