header.header .top_bar form {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    max-width: 540px;
    right: 0;
    z-index: 10;
    transition: all 0.3s;
}

header.header .top_bar form .input_group {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 15px 0 15px 7px;
    border: 1px solid rgba(219, 219, 219, .5);
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    transition: all 0.3s;
    padding-right: 20px;
}

header.header .top_bar form .input_group .material-icons {
    line-height: 40px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    padding: 0 10px;
}

header.header .top_bar form .input_group .trending {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    list-style-type: none;
    border-radius: 2px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
    padding: 13px 10px;
    color: #32323d;
    display: none;
    z-index: 1000;
}

header.header .top_bar form .input_group .trending li {
    width: 100%;
    padding: 8px 10px;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    z-index: 5;
}

header.header .top_bar form .input_group .trending li:hover {
    background-color: #efefef;
}

header.header .top_bar form .input_group .trending li a {
    display: block;
    width: 100%;
}

header.header .top_bar form .input_group .trending li span {
    font-size: 1rem;
    color: #a0a0a0;
    position: absolute;
    top: -10%;
    right: 0;
}

header.header .top_bar form .input_group input {
    font-family: 'Roboto';
    height: 34px;
    font-size: 0.875rem;
    width: 100%;
    margin: 0;
    color: #495057;
    border: 0;
    padding: 5px 0;
    line-height: 34px;
    background-color: transparent;
}

header.header .top_bar form .input_group input:focus+.trending {
    display: block;
}

header.header .top_bar form .input_group input:focus {
    outline-offset: 0;
    outline-width: 0;
}