.hot_slider_container .slider_container .slide .topic {
    white-space: nowrap;
    font-size: 18px!important;
    color: #fcfcfc!important;
    top: 60%!important;
    visibility: visible!important;
    transition: all 0.3s;
    font-weight: 700;
}

.hot_slider_container .slider_container .slide .image:hover .topic {
    top: 50%!important;
}

.hot_slider_container .slider_container .slide_topic:hover .image::before {
    background-color: rgba(0, 0, 0, 0);
}