.mix_zing_choice {
    box-shadow: 0 0 10px 0 rgba(190, 190, 206, .26);
    background-color: #fff;
    margin-bottom: 11px;
    padding: 20px;
    display: flex;
}

.mix_zing_choice .intro {
    display: flex;
}

.mix_zing_choice .intro .mix_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    padding: 0 17px 0 15px;
    min-height: 170px
}

.mix_zing_choice .intro .image {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.mix_zing_choice .intro .image::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    visibility: hidden;
}

.mix_zing_choice .intro .image:hover img {
    transform: scale(1.05);
}

.mix_zing_choice .intro .image:hover>span,
.mix_zing_choice .intro .image:hover::before {
    visibility: visible;
}

.mix_zing_choice .intro .mix_info .title {
    color: #32323d;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    cursor: pointer;
}

.mix_zing_choice .intro .mix_info .title:hover {
    color: #6e55b4;
}

.mix_zing_choice .intro .mix_info .number_song {
    color: #949494;
    font-size: 10px;
    font-style: italic;
}

.mix_zing_choice .intro .image>span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: #fcfcfc;
    transform: translate(-50%, -50%);
    cursor: pointer;
    visibility: hidden;
    z-index: 2;
}

.mix_zing_choice .intro .image img {
    width: 100%;
    transition: all 0.7s;
}

.mix_zing_choice .mix_list {
    width: calc(100% - 370px);
    min-height: 170px;
    padding-left: 9px;
    border-left: 1px solid rgba(227, 227, 227, .6);
    display: flex;
}

.mix_zing_choice .mix_list .list {
    list-style-type: none;
    flex-grow: 1;
}

.mix_zing_choice .mix_list .list>li {
    padding: 0 13px 0 5px;
    border-radius: 4px;
    position: relative;
}

.mix_zing_choice .mix_list .list>li:hover {
    background-color: #f7f7f7;
}

.title_mix_zing_choice {
    font-size: 24px;
    font-weight: bold;
    margin: 30px 0 10px 0;
}