.side_zing_chart {
    width: calc(100% - 667px);
    position: relative;
    background-image: url(../../images/bg-chart.svg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5;
}

.side_zing_chart ul {
    padding: 20px 10px;
    list-style-type: none;
    width: 100%;
    z-index: 10;
}

.side_zing_chart .text_btn {
    text-align: center;
    color: #fff;
    font-size: 0.75rem;
    cursor: context-menu;
    margin: 20px 0 0;
}