.container_slider .slider_main {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.container_slider .slider_main .slider_container {
    width: 600%;
    display: flex;
    align-items: flex-end;
}

.container_slider .slider_main .slider_container .slide {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.container_slider .slider_main .slider_container .slide img {
    width: 100%;
    z-index: 10;
}

.container_slider:hover .slider_main .slide_wrapper {
    transform: translateY(0);
}

.container_slider .slider_main .slide_wrapper {
    transition: all 0.3s;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    z-index: 10;
    padding: 0.5rem 2rem 1rem 0;
}

.container_slider .slider_main .slide_wrapper ul {
    list-style-type: none;
    width: 100%;
    display: flex;
}

.container_slider .slider_main .slide_wrapper ul li {
    margin: 0 5px;
    transform: translateY(0%);
    transition: all 0.3s ease-in-out;
}

.container_slider .slider_main .slide_wrapper ul li img {
    width: 100%;
    border: 2px solid transparent;
    border-radius: 2px;
    cursor: pointer;
}

.container_slider .slider_main .slide_wrapper ul li img.active {
    border: 2px solid #fff;
}