.zing_mini_player {
    width: 100%;
    height: 70px;
    padding: 0 calc((100% - 1026px)/ 2);
    cursor: pointer;
    background-color: #1d1924;
    background-image: url(../../images/bg-miniplayer-v1.png);
    background-size: cover;
    background-position: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1200;
}

.zing_mini_player .container {
    height: 100%;
    justify-content: space-between;
}

.zing_mini_player .container .info_detail .card_image img {
    transition: all 0.3s;
    width: 100%;
}

.zing_mini_player .container .control {
    align-items: center;
}

.zing_mini_player .container .control>span {
    margin: 0 20px 0 -5px;
    display: inline-block;
    padding: 5px;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zing_mini_player .container .control>span.repeat {
    color: #815fdd;
    opacity: .8;
}

.zing_mini_player .container .control>span.play_status {
    font-size: 40px;
    opacity: .9;
}

.zing_mini_player .container .info_detail {
    width: 360px;
}

.zing_mini_player span {
    color: #fff;
}

.zing_mini_player span.material-icons:not(.play_status),
.mv_icon {
    font-size: 22px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.zing_mini_player span.material-icons:not(.play_status):hover,
.mv_icon:hover {
    background-color: #fff3;
    color: #fff;
    opacity: 1;
}

.zing_mini_player span.play_status:hover {
    color: #a28ce0;
}

.zing_mini_player .container .info_detail .card_image {
    width: 50px;
    height: 50px;
    margin-left: 4px;
    margin-right: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 6px 0 rgba(78, 65, 87, .7);
    overflow: hidden;
}

.zing_mini_player .container .info_detail .card_image img:hover {
    transform: scale(1.05);
}

.zing_mini_player .container .info_detail .song_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.zing_mini_player .container .info_detail .song_info .song_info_detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.zing_mini_player .container .info_detail .song_info .song_info_detail .song_name,
.zing_mini_player .container .info_detail .song_info .song_info_detail .singer_name {
    font-weight: 500;
    font-size: 12px;
    line-height: 0;
}

.zing_mini_player .container .info_detail .song_info .song_info_detail .singer_name,
.zing_mini_player .container .info_detail .song_info .time_duration .duration {
    color: #a0a0a0;
}

.zing_mini_player .container .info_detail .song_info .time_duration .current,
.zing_mini_player .container .info_detail .song_info .time_duration .duration,
.zing_mini_player .container .info_detail .song_info .material-icons {
    font-size: 10px;
}

.zing_mini_player .container .info_detail .song_info .material-icons {
    transform: translateY(1px);
}

.zing_mini_player .container .info_detail .song_info .singer_name span:hover {
    background: none;
}

.zing_mini_player .container .info_detail .song_info .song_playing {
    width: 100%;
    height: 3px;
    outline: 0;
    background-color: #404040;
    transform: translateY(-8px);
}

.zing_mini_player .container .features_wrapper,
.zing_mini_player .container .info_detail,
.zing_mini_player .container,
.zing_mini_player .container .control {
    display: flex;
    align-items: center;
}

.zing_mini_player .container .features_wrapper {
    padding-left: 10px;
    padding-right: 20px;
}

.zing_mini_player .container .features_wrapper .player_action {
    display: flex;
}

.zing_mini_player .container .features_wrapper .player_action .mv_icon {
    position: relative;
}

.zing_mini_player .container .features_wrapper .player_action .mv_icon::before {
    content: 'mv';
    text-transform: uppercase;
    position: absolute;
    font-size: 8px;
    border-radius: 4px;
    display: flex;
    border: 1px solid #fff;
    padding: .5px 2px;
    justify-content: center;
    align-items: center;
}

.zing_mini_player .container .features_wrapper .player_action span {
    font-size: 16px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zing_mini_player .container .features_wrapper .play_list_wrapper {
    border-left: solid 1px rgba(255, 255, 255, 0.2);
    padding: 5px 0px 5px 20px;
}

.zing_mini_player .container .features_wrapper .play_list_wrapper>a {
    border-radius: 3px;
    height: 36px;
    width: 170px;
    line-height: 35px;
    display: inline-block;
    border: 1px solid transparent;
    background-color: rgba(219, 219, 219, 0.05);
    text-align: center;
}

.zing_mini_player .container .features_wrapper .play_list_wrapper>a:hover span {
    color: #6e55b4;
}

.zing_mini_player .container .features_wrapper .play_list_wrapper>a span {
    font-size: 12px;
}

.zing_mini_player .container .features_wrapper .play_list_wrapper>a span.material-icons {
    font-size: 20px;
    line-height: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.zing_mini_player .container .features_wrapper .play_list_wrapper>a span.material-icons:hover {
    background: none;
}