header.header .top_bar .user_profile {
    display: flex;
    align-items: center;
    z-index: 20;
}

header.header .top_bar .user_profile .user_info {
    width: 120px;
    transition: all 0.3s;
}

header.header .top_bar .user_profile .user_info a {
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: #32323d;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

header.header .top_bar .user_profile .user_info a:hover {
    color: #6e55b4;
}

header.header .top_bar .user_profile .avatar {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    margin: 0 10px 0 47px;
    cursor: pointer;
}

header.header .top_bar .user_profile .avatar img {
    width: 100%;
    border-radius: 50%;
}

header.header .top_bar .user_profile .extention {
    margin-left: 16px;
    transition: all 0.3s;
}

header.header .top_bar .user_profile .extention .material-icons {
    cursor: pointer;
}