<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>

    <!-- reset css and set up -->
    <link rel="stylesheet" href="../css/reset.css">

    <!-- import css header -->
    <link rel="stylesheet" href="../css/headerContainer.css">
    <link rel="stylesheet" href="../css/logo.css">
    <link rel="stylesheet" href="../css/inputSearch.css">
    <link rel="stylesheet" href="../css/userProfileHeader.css">
    <link rel="stylesheet" href="../css/dropdownMenu.css">
    <link rel="stylesheet" href="../css/menubarHeader.css">
    <link rel="stylesheet" href="../css/subMenus.css">
    <link rel="stylesheet" href="../css/headerScroll.css">

    <!-- responsive container -->
    <link rel="stylesheet" href="../css/responsiveContainer.css">

    <!-- material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- import fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>
    <header class="header">
        <div class="top_bar" id="top_bar">
            <div class="top_bar_inner">
                <a href="#" class="logo"></a>
            </div>
            <form id="input_box">
                <div class="input_group">
                    <span class="material-icons">
                        search
                    </span>
                    <input type="text" id="search_input" placeholder="Nhập tên bài hát, ca sĩ hoặc mv…" />
                    <ul class="trending" id="trending">
                    </ul>
                </div>
            </form>
            <div class="menu_bar">
                <ul class="menu_bar_inner" id="menu_bar">
                </ul>
            </div>
            <div class="user_profile">
                <div class="avatar">
                    <img src="../images/default.jpg" alt="avatar" />
                </div>
                <div class="user_info">
                    <a href="#">Đăng nhập</a>
                </div>
                <div class="extention">
                    <div class="dropdown_menu" id="dropdown_menu">
                        <span class="material-icons" id="keyboard_arrow_down">
                            keyboard_arrow_down
                        </span>
                        <div class="user_dropdown_menu">
                            <ul class="user_menu_list">
                                <li>
                                    <span class="material-icons">
                                        brightness_2
                                    </span>
                                    <span class="mode">
                                        Nền tối
                                    </span>
                                    <span class="material-icons">
                                        toggle_off
                                    </span>
                                </li>
                            </ul>
                            <div class="vip_area_btn">
                                <a href="#">Mua VIP ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <script src="../js/renderMenubar.js"></script>
    <script src="../js/renderTrendingItems.js"></script>
    <script src="../js/submenus.js"></script>
    <script src="../js/dropdownMenu.js"></script>
    <script src="../js/scrollHeader.js"></script>
    <script src="../js/inputSearch.js"></script>
</body>

</html>