<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>

    <!-- reset css and set up -->
    <link rel="stylesheet" href="../css/reset.css">

    <!-- import css header -->
    <link rel="stylesheet" href="../css/headerNavbar/headerContainer.css">
    <link rel="stylesheet" href="../css/headerNavbar/logo.css">
    <link rel="stylesheet" href="../css/headerNavbar/inputSearch.css">
    <link rel="stylesheet" href="../css/headerNavbar/userProfileHeader.css">
    <link rel="stylesheet" href="../css/headerNavbar/dropdownMenu.css">
    <link rel="stylesheet" href="../css/headerNavbar/menubarHeader.css">
    <link rel="stylesheet" href="../css/headerNavbar/subMenus.css">
    <link rel="stylesheet" href="../css/headerNavbar/headerScroll.css">

    <!-- import slider main css -->
    <link rel="stylesheet" href="../css/sliderMain/sliderMain.css">

    <!-- import zingchart css -->
    <link rel="stylesheet" href="../css/zingChart/realtimeZingChart.css">
    <link rel="stylesheet" href="../css/zingChart/zingChart.css">
    <link rel="stylesheet" href="../css/zingChart/chartItem.css">
    <link rel="stylesheet" href="../css/zingChart/sideChart.css">

    <!-- responsive container -->
    <link rel="stylesheet" href="../css/responsiveContainer.css">

    <!-- material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- import fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>
    <!-- header navbar -->
    <header class="header">
        <div class="top_bar" id="top_bar">
            <div class="top_bar_inner">
                <a href="#" class="logo"></a>
            </div>
            <form id="input_box">
                <div class="input_group">
                    <span class="material-icons">
                        search
                    </span>
                    <input type="text" id="search_input" placeholder="Nhập tên bài hát, ca sĩ hoặc mv…" />
                    <ul class="trending" id="trending">
                    </ul>
                </div>
            </form>
            <div class="menu_bar">
                <ul class="menu_bar_inner" id="menu_bar">
                </ul>
            </div>
            <div class="user_profile">
                <div class="avatar">
                    <img src="../images/default.jpg" alt="avatar" />
                </div>
                <div class="user_info">
                    <a href="#">Đăng nhập</a>
                </div>
                <div class="extention">
                    <div class="dropdown_menu" id="dropdown_menu">
                        <span class="material-icons" id="keyboard_arrow_down">
                            keyboard_arrow_down
                        </span>
                        <div class="user_dropdown_menu">
                            <ul class="user_menu_list">
                                <li>
                                    <span class="material-icons">
                                        brightness_2
                                    </span>
                                    <span class="mode">
                                        Nền tối
                                    </span>
                                    <span class="material-icons">
                                        toggle_off
                                    </span>
                                </li>
                            </ul>
                            <div class="vip_area_btn">
                                <a href="#">Mua VIP ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="inner_space"></div>

    <!-- slider main -->
    <div class="container container_slider">
        <div class="slider_main">
            <div class="slider_container">
                <div class="slide">
                    <img src="../images/slide1.jpg" alt="image">
                </div>
                <div class="slide">
                    <img src="../images/slide2.jpg" alt="image">
                </div>
                <div class="slide">
                    <img src="../images/slide3.jpg" alt="image">
                </div>
                <div class="slide">
                    <img src="../images/slide4.jpg" alt="image">
                </div>
                <div class="slide">
                    <img src="../images/slide5.jpg" alt="image">
                </div>
                <div class="slide">
                    <img src="../images/slide1.jpg" alt="image">
                </div>
            </div>
            <div class="slide_wrapper">
                <ul>
                    <li>
                        <img src="../images/photo1.jpg" alt="image">
                    </li>
                    <li>
                        <img src="../images/photo2.jpg" alt="image">
                    </li>
                    <li>
                        <img src="../images/photo3.jpg" alt="image">
                    </li>
                    <li>
                        <img src="../images/photo4.jpg" alt="image">
                    </li>
                    <li>
                        <img src="../images/photo5.jpg" alt="image">
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- zing chart -->
    <div class="container all_chart_container">
        <!-- container -->
        <div class="chart_realtime_container">
            <!-- header realtime -->
            <div class="realtime_header">
                <div>
                    <a class="zing_chart_btn">
                #zingchart
            </a>
                    <span id="time_picker">
                </span>
                </div>
                <a class="listen_all">
                    <span class="material-icons">
                    play_arrow
                </span> Nghe tất cả
                </a>
            </div>
            <div class="chart_container">
                <svg class="zingchart_container">
                </svg>
                <svg class="zingchart_highchart">
                </svg>
                <div class="overlay"></div>
                <span class="time_chart">Thời gian: <b class="time">19:00</b><span class="diamond"></span></span>
            </div>

            <!-- realtiem footer -->
            <div class="realtime_footer">
            </div>
        </div>

        <!-- chart item container -->
        <div class="side_zing_chart">
            <ul class="chart_list">
                <li class="chart_item">
                    <div>
                        <span class="number_order">01</span>
                        <div class="image">
                            <img src="../images/photo4.jpg" alt="image">
                            <div class="overlay"></div>
                            <span class="material-icons">
                            play_arrow
                        </span>
                        </div>
                        <div class="infor">
                            <a class="song_name">Thích thì đến</a>
                            <a class="singers">Lê Bảo Bình</a>
                        </div>
                    </div>
                    <span class="percent">58%</span>
                </li>

                <li class="chart_item">
                    <div>
                        <span class="number_order">01</span>
                        <div class="image">
                            <img src="../images/photo4.jpg" alt="image">
                            <div class="overlay"></div>
                            <span class="material-icons">
                        play_arrow
                    </span>
                        </div>
                        <div class="infor">
                            <a class="song_name">Thích thì đến</a>
                            <a class="singers">Lê Bảo Bình</a>
                        </div>
                    </div>
                    <span class="percent">58%</span>
                </li>

                <li class="chart_item">
                    <div>
                        <span class="number_order">01</span>
                        <div class="image">
                            <img src="../images/photo4.jpg" alt="image">
                            <div class="overlay"></div>
                            <span class="material-icons">
                        play_arrow
                    </span>
                        </div>
                        <div class="infor">
                            <a class="song_name">Thích thì đến</a>
                            <a class="singers">Lê Bảo Bình</a>
                        </div>
                    </div>
                    <span class="percent">58%</span>
                </li>

                <li class="chart_item">
                    <div>
                        <span class="number_order">01</span>
                        <div class="image">
                            <img src="../images/photo4.jpg" alt="image">
                            <div class="overlay"></div>
                            <span class="material-icons">
                        play_arrow
                    </span>
                        </div>
                        <div class="infor">
                            <a class="song_name">Thích thì đến</a>
                            <a class="singers">Lê Bảo Bình</a>
                        </div>
                    </div>
                    <span class="percent">58%</span>
                </li>

                <li class="chart_item">
                    <div>
                        <span class="number_order">01</span>
                        <div class="image">
                            <img src="../images/photo4.jpg" alt="image">
                            <div class="overlay"></div>
                            <span class="material-icons">
                        play_arrow
                    </span>
                        </div>
                        <div class="infor">
                            <a class="song_name">Thích thì đến</a>
                            <a class="singers">Lê Bảo Bình</a>
                        </div>
                    </div>
                    <span class="percent">58%</span>
                </li>
                <div class="text_btn">
                    Xem tất cả
                </div>
            </ul>
        </div>
    </div>

    <!-- import header navbar js -->
    <script src="../js/headerNavbar/renderMenubar.js"></script>
    <script src="../js/headerNavbar/renderTrendingItems.js"></script>
    <script src="../js/headerNavbar/submenus.js"></script>
    <script src="../js/headerNavbar/dropdownMenu.js"></script>
    <script src="../js/headerNavbar/scrollHeader.js"></script>
    <script src="../js/headerNavbar/inputSearch.js"></script>

    <!-- import slider main js -->
    <script src="../js/sliderMain/sliderMain.js"></script>

    <!-- import zing chart path -->
    <script src="../js/zingChart/realtime.js"></script>
    <script src="../js/zingChart/zingchartRender.js"></script>
    <script src="../js/zingChart/zingchartMouseEvent.js"></script>

</body>

</html>