.dropdn_menu {
    max-width: 230px;
    box-shadow: rgba(0, 0, 0, .2) 0 0 5px 0;
    color: #fcfcfc;
    min-width: 220px;
    z-index: 1060;
    border-radius: 3px;
    position: relative;
    background-color: #fcfcfc;
}

.dropdn_menu .song_info {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #efefef;
    max-width: 230px;
}

.dropdn_menu .song_info .card_info .song_name {
    font-weight: 800;
    font-size: 14px;
    line-height: 1.36;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
}

.dropdn_menu .song_info .card_info .song_name:hover,
.dropdn_menu .song_info .dropdown_playlist .info_text .text .info span:hover {
    color: #6e55b4;
}

.dropdn_menu .song_info .dropdown_playlist .info_text .text .info span {
    font-size: 14px;
    cursor: pointer;
}

.dropdn_menu .song_info .card_info .log_stats {
    display: flex;
}

.dropdn_menu .song_info .card_info .log_stats span {
    font-size: 14px;
    color: #a0a0a0;
    line-height: 66%;
    position: relative;
    top: 3px;
    cursor: context-menu;
}

.dropdn_menu .song_info .card_info .log_stats div {
    font-size: 12px;
    color: #A0A0A0;
    cursor: context-menu;
}

.dropdn_menu .song_info .card_info .log_stats div:first-child {
    margin-right: 16px;
}

.dropdn_menu .song_info .image {
    margin-right: 10px;
    border-radius: 2px;
    overflow: hidden;
}

.dropdn_menu .song_info:hover .dropdown_playlist {
    display: block;
}

.dropdn_menu .song_info .dropdown_playlist {
    width: 230px;
    box-shadow: rgba(0, 0, 0, .2) 0 0 5px 0;
    background-color: #fcfcfc;
    border-radius: 3px;
    z-index: 1080;
    position: absolute;
    padding: 15px;
    top: -30px;
    left: 95%;
    display: none;
}

.dropdn_menu .song_info .dropdown_playlist .info_text .text {
    margin-bottom: 15px;
}

.dropdn_menu .song_info .dropdown_playlist .info_text .text .title {
    cursor: context-menu;
    font-size: 12px;
    color: #a0a0a0;
}

.dropdn_menu .song_info .image:hover img {
    transform: scale(1.05);
}

.dropdn_menu .song_info .image img {
    width: 100%;
    transition: all 0.7s;
}

.dropdn_menu .option_menu {
    list-style-type: none;
    padding: 10px 0;
    display: block;
}

.dropdn_menu .option_menu li {
    padding: 10px 20px;
}

.dropdn_menu .option_menu li span {
    font-size: 18px;
    position: relative;
    top: 3px;
    margin-right: 12px;
}

.dropdn_menu .option_menu li a {
    text-decoration: none;
    font-size: 14px;
    color: #32323d;
    width: 100%;
    font-weight: 400;
    cursor: pointer;
    white-space: nowrap;
}

.dropdn_menu .option_menu li:hover {
    background-color: #efefef;
}

.dropdn_menu .option_menu li:hover a,
.dropdn_menu .option_menu li:hover span {
    color: #6e55b4;
}

.dropdn_menu .option_menu li span.comment {
    position: relative;
}

.dropdn_menu .option_menu li span.comment::after {
    content: '';
    width: 13px;
    height: 13px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    right: 8px;
    top: -4px;
}