.footer_login_container {
    padding: 30px 9.5px 0 9.5px;
}

.footer_login_container .login_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 0 20px;
    background: url(../../images/banner-bg.svg) center/cover no-repeat;
    cursor: pointer;
}

.footer_login_container .login_footer .logo {
    height: 40px;
    width: 40px;
    flex-shrink: 0;
    background: url(../../images/icon_zing_mp3_60.png) center/cover no-repeat;
}

.footer_login_container .login_footer .content {
    color: #fff;
    font-size: 1.05rem;
    font-weight: 700;
    margin: 0 113px 0 22px;
}

.footer_login_container .login_footer .login_btn {
    border-radius: 8px;
    padding: 4px 12px;
    background-color: #fdd100;
    display: block;
    color: #fff;
    line-height: 24px;
    flex-shrink: 0;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer_login_container .login_footer .login_btn:hover {
    background-color: #fcfcfc;
    border-color: #fcfcfc;
    color: #6e55b4;
}