.sub_container {
    border-top: 1px solid #efefef;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sub_container .licesense_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub_container .licesense_logo .logo {
    width: 40px;
    height: 40px;
}

.sub_container .licesense_logo .logo img {
    width: 100%;
}

.sub_container .nav_footer ul {
    list-style-type: none;
    display: flex;
}

.sub_container .nav_footer ul div {
    display: flex;
    align-items: center;
}

.sub_container .nav_footer ul li {
    line-height: 2.5;
}

.sub_container .nav_footer ul li .menu_link {
    color: #888;
    font-size: 12px;
}

.sub_container .nav_footer ul .special {
    position: relative;
    top: -14px;
    color: #d8d8d8;
    margin: 0 5px;
    font-size: 36px;
}

.beta_list {
    position: fixed;
    right: 40px;
    bottom: 10px;
}

.beta_list .div {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
    margin-bottom: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.beta_list .div:hover {
    box-shadow: rgba(0, 0, 0, 0.14) 0px 5px 8px 0px;
}

.beta_list .div:hover span {
    color: #6e55b4;
}

.beta_list .div:first-child span {
    font-size: 32px;
    display: inline-block;
    text-align: center;
    padding: 10px 0 10px;
}

.beta_list .div:last-child span {
    transform: rotate(180deg);
    color: #6e55b4;
}

.beta_list .div span {
    font-size: 24px;
    line-height: 66.66%;
    color: #a0a0a0;
}

.inner_space_footer {
    display: none;
    width: 100%;
    height: 100px;
}